body {
    font-family: 'Montserrat', sans-serif;
    background-color: #222222;
    color: #FAFAFA;
}
.main-layout, .taskbar-wrapper {
    max-width: 780px;
    padding: 0px 1.1rem;
    display: flex;
    margin: auto;
    justify-content: flex-start;
    flex-direction: column;

}
.taskbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 1.2rem;
}
.profile-icon-wrapper {
    width: 4rem;
    height: 4rem;
    margin-top: 2rem;
}
.profile-icon {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.taskbar-title {
    margin-left: -20px;
    margin-right: 10px;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
.taskbar-selectionWrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.taskbar-slash {
    margin-right: 10px;
    color: #e4f0fa8c;
}
.down-arrow {
    color: #e4f0fa8c;
}
.work-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.work-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 320px;
    transition: 0.3s;
    margin-top: 30px;
    border-radius: 5px;
    background-color: 	#181818;
    overflow: hidden;
    margin-right: 100px;
}
.work-container:hover {
    transform: scale(1.2);
    cursor: pointer;
    transition: all 0.1s ease-out 0s;
    user-select: none;
}
.main-subtitle {
    color: #e4f0fa8c;
    letter-spacing: .01em;
    margin-bottom: 30px;
}
.item-container {
    display: flex;
}
.item-title {
    font-weight: 600px;
    font-size: 18px;
}
.item-subtitle {
    padding: 5px;
}